body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#grey {
    background-color: #808080;
}

#white {
    background-color: #ffffff;
    border: 2px solid #ccc;
}

#blue {
    background-color: #007BFF;
}

#yellow {
    background-color: #FFD700;
}

span {
    color: #555;
    font-weight: bold;
}
